
name: "Composer Lint"

on:
  workflow_call:
    inputs:
      php-version:
        description: "The PHP version to use when running the job"
        default: "8.5"
        required: false
        type: "string"

jobs:
  composer-lint:
    name: "Composer Lint (PHP: ${{ inputs.php-version }})"
    runs-on: "ubuntu-22.04"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v5"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          ini-file: development
          php-version: "${{ inputs.php-version }}"
          tools: composer:v2, composer-normalize:2
        env:
          COMPOSER_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: "Composer normalize"
        run: "composer-normalize --dry-run"
